/* ==========================
   GOOGLE FONTS
========================== */

:root{

    --bg:#08111f;
    --bg-secondary:#101b2d;

    --white:#ffffff;

    --text:#cdd6f4;

    --primary:#7c4dff;
    --secondary:#00d9ff;

    --glass:rgba(255,255,255,0.08);

    --border:rgba(255,255,255,0.12);

    --shadow:0 10px 40px rgba(0,0,0,0.3);

    --radius:20px;

}

/* ==========================
   RESET
========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
}

body{
    font-family:'Poppins',sans-serif;
    background:var(--bg);
    color:var(--white);
    overflow-x:hidden;
}

img{
    width:100%;
    display:block;
}

a{
    text-decoration:none;
}

ul{
    list-style:none;
}

.container{
    width:min(1200px,90%);
    margin:auto;
}

.section{
    padding:100px 0;
}

/* ==========================
   GLASSMORPHISM
========================== */

.glass{
    background:var(--glass);
    backdrop-filter:blur(15px);
    border:1px solid var(--border);
    border-radius:var(--radius);
}

/* ==========================
   BUTTONS
========================== */

.btn{
    display:inline-flex;
    align-items:center;
    justify-content:center;
    padding:14px 30px;
    border-radius:50px;
    font-weight:600;
    transition:.4s;
}

.primary-btn{
    background:linear-gradient(
        135deg,
        var(--primary),
        var(--secondary)
    );
    color:white;
}

.primary-btn:hover{
    transform:translateY(-4px);
}

.secondary-btn{
    border:1px solid rgba(255,255,255,.2);
    color:white;
}

.secondary-btn:hover{
    background:white;
    color:black;
}

/* ==========================
   HEADER
========================== */

.header{
    position:fixed;
    width:100%;
    top:0;
    z-index:999;
    background:rgba(8,17,31,.7);
    backdrop-filter:blur(12px);
}

.navbar{
    height:80px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    font-size:28px;
    font-weight:700;
    color:white;
}

.logo span{
    color:var(--secondary);
}

.nav-menu{
    display:flex;
    gap:30px;
}

.nav-menu a{
    color:white;
    font-size:15px;
    transition:.3s;
}

.nav-menu a:hover{
    color:var(--secondary);
}

.nav-actions{
    display:flex;
    align-items:center;
    gap:20px;
}

#themeToggle{
    background:none;
    border:none;
    color:white;
    cursor:pointer;
    font-size:18px;
}

/* ==========================
   HAMBURGER
========================== */

.hamburger{
    display:none;
    cursor:pointer;
}

.hamburger span{
    width:25px;
    height:3px;
    background:white;
    display:block;
    margin:5px;
}

/* ==========================
   HERO
========================== */

.hero{
   
    min-height:68vh;
    display:flex;
    align-items:center;
    position:relative;
    
}


.hero-bg{
    position:absolute;
    inset:0;
    pointer-events:none;
    background:
    radial-gradient(
    circle at top left,
    rgba(124,77,255,.4),
    transparent 40%),

    radial-gradient(
    circle at bottom right,
    rgba(0,217,255,.3),
    transparent 35%);
}

.hero-container{
    display:grid;
    grid-template-columns:1fr 1fr;
    align-items:center;
    gap:60px;
    position:relative;
    z-index:2;

}

.hero-badge{
    display:inline-block;
    padding:10px 18px;
    border-radius:40px;
    background:rgba(255,255,255,.08);
    margin-bottom:20px;
}

.hero-content h1{
    font-size:70px;
    line-height:1.1;
    margin-bottom:15px;
}

.hero-content h2{
    font-size:28px;
    color:var(--secondary);
    margin-bottom:20px;
}

.hero-content p{
    color:var(--text);
    line-height:1.8;
    margin-bottom:30px;
}

.hero-buttons{
    display:flex;
    gap:15px;
    margin-bottom:30px;
}

.hero-socials{
    display:flex;
    gap:15px;
}

.hero-socials a{
    width:50px;
    height:50px;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    background:rgba(255,255,255,.08);
    transition:.3s;
}

.hero-socials a:hover {
    background:var(--secondary);
    color:black;
}

/* ==========================
   HERO IMAGE
========================== */

.hero-image{
    position:relative;
    display:flex;
    justify-content:center;
}

.hero-image img{
    max-width:450px;
    border-radius:30px;
    position:relative;
    


}

.image-glow{
    position:absolute;
    width:380px;
    height:380px;

    background:linear-gradient(
    135deg,
    var(--primary),
    var(--secondary));

    filter:blur(100px);
    opacity:.6;
}

@keyframes float{

    0%{
        transform:translateY(0);
    }

    50%{
        transform:translateY(-20px);
    }

    100%{
        transform:translateY(0);
    }
}

/* ==========================
   SECTION TITLE
========================== */

.section-title{
    text-align:center;
    margin-bottom:60px;
}

.section-title h2{
    font-size:42px;
}

.section-title p{
    color:var(--secondary);
    margin-top:10px;
}

/* ==========================
   ABOUT
========================== */

.about-card{
    padding:40px;
    max-width:900px;
    margin:auto;

    position:relative;
    overflow:hidden;

    transition:all .4s ease;

    box-shadow:
        0 0 20px rgba(0,217,255,.08),
        0 0 40px rgba(124,77,255,.05);
}

.about-card:hover{
    transform:translateY(-5px);

    border-color:var(--secondary);

    box-shadow:
        0 0 30px rgba(0,217,255,.15),
        0 0 60px rgba(124,77,255,.10);
}

.about-card::before{
    content:"";
    position:absolute;

    width:250px;
    height:250px;

    top:-120px;
    right:-120px;

    background:rgba(0,217,255,.08);

    filter:blur(100px);

    pointer-events:none;
}

.about-card::after{
    content:"";
    position:absolute;

    width:220px;
    height:220px;

    bottom:-120px;
    left:-120px;

    background:rgba(124,77,255,.08);

    filter:blur(100px);

    pointer-events:none;
}

.about-card p{
    color:var(--text);
    line-height:1.9;
    margin-bottom:15px;
}

.about-card h3{
    position:relative;
    display:inline-block;
    margin-bottom:25px;
}

.about-card h3::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-10px;

    width:60px;
    height:3px;

    background:linear-gradient(
        90deg,
        #7c4dff,
        #00d9ff
    );

    border-radius:10px;
}

/* ==========================
   SERVICES
========================== */

.services-grid{
    display:grid;
    grid-template-columns:
    repeat(auto-fit,minmax(280px,1fr));
    gap:25px;
}

.service-card{
    padding:35px;
    text-align:center;
    transition:.4s;
}

.service-card:hover{
    transform:translateY(-10px) scale(1.05);
    border:1px solid var(--secondary);
    box-shadow:
        0 0 20px rgba(0,217,255,.25),
        0 0 40px rgba(124,77,255,.15);
}


.service-card i{
    font-size:40px;
    color:var(--secondary);
    margin-bottom:20px;
      transition:0.4s ease;
}

.service-card h3{
    margin-bottom:15px;
}

.service-card p{
    color:var(--text);
}


#skills{
    padding-top:20px;
    scroll-margin-top:100px;
}
/* ==========================
   SKILLS
========================== */

.expertise-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
    
}

.expertise-card{
    text-align:center;
    padding:40px 30px;
    transition:.4s;
}

.expertise-card:hover{
    transform:translateY(-10px);
    border-color:var(--secondary);
}

.expertise-card i{
    font-size:45px;
    color:var(--secondary);
    margin-bottom:20px;
}

.expertise-card h3{
    margin-bottom:10px;
}

.expertise-card span{
    display:block;
    font-size:28px;
    font-weight:700;
    color:var(--secondary);
    margin-bottom:15px;
}

.expertise-card p{
    color:var(--text);
    line-height:1.7;
}

/* ==========================
   PORTFOLIO
========================== */

.portfolio-filter{
    display:flex;
    justify-content:center;
    gap:10px;
    flex-wrap:wrap;
    margin-bottom:40px;
}

.portfolio-filter button{
    padding:10px 20px;
    border:none;
    border-radius:30px;
    cursor:pointer;
}

.portfolio-grid{
    display:grid;
    grid-template-columns:
    repeat(auto-fit,minmax(320px,1fr));
    gap:25px;
}

.portfolio-card{
    overflow:hidden;
    border-radius:20px;
    position:relative;
}

.portfolio-card img{
    transition:.5s;
}

.portfolio-card:hover img{
    transform:scale(1.1);
}

.overlay{
    position:absolute;
    inset:0;
    background:rgba(0,0,0,.6);
    display:flex;
    justify-content:center;
    align-items:center;
    opacity:0;
    transition:.4s;
}

.portfolio-card:hover .overlay{
    opacity:1;
}

/* ==========================
   PROCESS
========================== */
.process-grid{
    display:grid;
    grid-template-columns:
    repeat(auto-fit,minmax(200px,1fr));
    gap:20px;
}

.step{
    text-align:center;
    padding:35px;
    transition:all .4s ease;
    cursor:pointer;
}

.step:hover{
    transform:translateY(-10px) scale(1.05);

    background:linear-gradient(
        135deg,
        rgba(124,77,255,.15),
        rgba(0,217,255,.15)
    );

    border:1px solid var(--secondary);

    box-shadow:
        0 0 20px rgba(0,217,255,.25),
        0 0 40px rgba(124,77,255,.15);
}

.step span{
    font-size:45px;
    color:var(--secondary);
    transition:.4s ease;
}

.step:hover span{
    color:#ffffff;
    transform:scale(1.1);
}

.step h3{
    transition:.4s ease;
}

.step:hover h3{
    color:var(--secondary);
}
/* ==========================
   FAQ
========================== */

/* FAQ */

.faq-item{
    max-width:900px;
    margin:15px auto;
    border-radius:16px;
    overflow:hidden;
    background:rgba(255,255,255,.05);
    border:1px solid rgba(255,255,255,.08);
    transition:.4s ease;
}

.faq-item:hover{
    border-color:var(--secondary);
    box-shadow:
        0 0 20px rgba(0,217,255,.15);
}

.faq-question{
    width:100%;
    padding:22px 25px;
    background:transparent;
    color:#fff;
    border:none;
    text-align:left;
    font-size:17px;
    font-weight:600;
    cursor:pointer;
    transition:.3s ease;
}

.faq-question:hover{
    color:var(--secondary);
}

.faq-answer{
    max-height:0;
    overflow:hidden;
    color:var(--text);
    line-height:1.8;
    transition:max-height .4s ease;
    padding:0 25px;
}

.faq-answer p{
    padding-bottom:20px;
}

.faq-item.active{
    background:
    linear-gradient(
        135deg,
        rgba(124,77,255,.08),
        rgba(0,217,255,.08)
    );
}

/* ==========================
   CONTACT
========================== */

.contact-info{
    padding:40px;
    height:100%;
}

.contact-info h3{
    font-size:32px;
    margin-bottom:15px;
}

.contact-info p{
    color:#cbd5e1;
    line-height:1.8;
    margin-bottom:30px;
}

.contact-item{
    display:flex;
    align-items:center;
    gap:15px;
    margin-bottom:20px;
}

.contact-item i{
    width:45px;
    height:45px;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    color:#00d9ff;

    background:linear-gradient(
        135deg,
        rgba(124,77,255,.2),
        rgba(0,217,255,.2)
    );

    border:1px solid rgba(0,217,255,.2);
}

.contact-socials{
    display:flex;
    gap:15px;
    margin-top:30px;
}

.contact-socials a{
    width:50px;
    height:50px;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    color:#fff;
    background:rgba(255,255,255,.05);
    transition:.3s;
}

.contact-socials a:hover{
    background:linear-gradient(
        135deg,
        #7c4dff,
        #00d9ff
    );
   transform:translateY(-5px) scale(1.08);
}




.contact-grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:30px;
}

.contact-info,
.contact-form{
    padding:35px;
}

.contact-form input,
.contact-form textarea{
    width:100%;
    padding:15px;
    margin-bottom:15px;
    border:none;
    border-radius:12px;
    background:#18253f;
    color:white;
        font-size:18px;
    font-weight:400;
    
    
}

.contact-form textarea{
    height:180px;
    resize:none;
    
    

}

.primary-btn{
    padding:16px 35px;
    border:none;
    border-radius:14px;

    background:linear-gradient(
        120deg,
        #8f67ff,
        #006eb7
    );

    color:#fff;
    font-size:16px;
    font-weight:600;

   

    transition:.4s ease;
}

.primary-btn:hover{
    transform:translateY(-4px);

}




.custom-modal{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.7);
    display:none;
    justify-content:center;
    align-items:center;
    z-index:9999;
}

.custom-modal.show{
    display:flex;
}

.modal-content{
    width:90%;
    max-width:420px;
    background:#111c2f;
    border:1px solid rgba(255,255,255,.1);
    border-radius:20px;
    padding:30px;
    text-align:center;
    box-shadow:0 20px 50px rgba(0,0,0,.4);
}

.modal-content i{
    font-size:55px;
    color:#00d9ff;
    margin-bottom:15px;
}

.modal-content h3{
    margin-bottom:10px;
    color:#fff;
}

.modal-content p{
    color:#cbd5e1;
    margin-bottom:20px;
    line-height:1.6;
}

.modal-content button{
    padding:12px 25px;
    border:none;
    border-radius:30px;
    cursor:pointer;
    color:#fff;
    background:linear-gradient(
        135deg,
        #7c4dff,
        #00d9ff
    );
}


.success-modal{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.75);

    display:none;
    justify-content:center;
    align-items:center;

    z-index:9999;
}

.success-modal.show{
    display:flex;
}

.success-box{
    width:90%;
    max-width:420px;

    padding:35px;

    text-align:center;

    border-radius:20px;

    background:#162235;

    border:1px solid rgba(255,255,255,.08);

    box-shadow:
        0 0 25px rgba(0,217,255,.12);
}

.success-icon{
    width:80px;
    height:80px;

    margin:0 auto 20px;

    border-radius:50%;

    display:flex;
    align-items:center;
    justify-content:center;

    background:linear-gradient(
        135deg,
        #7c4dff,
        #00d9ff
    );
}

.success-icon i{
    font-size:34px;
    color:white;
}

.success-box h3{
    font-size:28px;
    margin-bottom:10px;
}

.success-box p{
    color:#b8c1d1;
    line-height:1.7;
    margin-bottom:25px;
}

.success-box button{
    border:none;
    padding:12px 28px;
    border-radius:50px;
    cursor:pointer;

    color:white;

    background:linear-gradient(
        135deg,
        #7c4dff,
        #00d9ff
    );
}



/* ==========================
   FOOTER
========================== */

.footer{
    padding:30px 0;
    text-align:center;
    border-top:1px solid rgba(255,255,255,.1);
}

/* ==========================
   BACK TO TOP
========================== */




/* ==========================
   MOBILE
========================== */

@media(max-width:992px){

    .hero-container{
        grid-template-columns:1fr;
        text-align:center;
    }

    .hero-buttons{
        justify-content:center;
    }

    .hero-socials{
        justify-content:center;
    }

    .contact-grid{
        grid-template-columns:1fr;
    }

    .hero-content h1{
         font-size:52px;
    line-height:1.1;
    margin-top:10px;
    }
}

@media(max-width:768px){

    .nav-menu{
        position:fixed;
        top:80px;
        left:-100%;
        width:100%;
        background:#08111f;
        flex-direction:column;
        text-align:center;
        padding:30px 0;
        transition:.4s;
    }

    .nav-menu.active{
        left:0;
    }

    .hamburger{
        display:block;
    }

    .hero-content h1{
        font-size:42px;
    }

    .hero-content h2{
        font-size:22px;
    }

    .section{
        padding:80px 0;
    }
}




